= erb(:top, :layout => false)
#content_left.grid_8
  - @people.each{|p|
  .person
    %h3
      = p.full_name
    %h4
      = p.affiliation
    %p
      = p.bio
  - }
= erb(:bottom, :layout => false)
