<%= erb(:top, :layout => false) %>

		<div id="content_left" class="grid_6">
			<%@people.each{|p|%>
				<div class="person">
					<h3><%=p.full_name%></h3>
					<h4><%=p.affiliation%></h4>
					<p><%=p.bio%></p>
				</div>
			<%}%>
		</div>

<%= erb(:bottom, :layout => false)%>